<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="RebusFmApiKey" value="egUriDwMG4XFrGjCeeFX0xH0aHJF/L9kURvv+KuPagGANA22uxG6bGlukyoEWhRK67DP4Pf6Q/JUq4fV+g1K4hKcu5a+L0ODjOOf0uzmSK4TDyG8irMKqo9ziWxB0WMoU7PJusil5SL1XZPOL7yHKzye06lSmwb0vCeYJibOL9uX9jQJ5Hs27VuoCfvKIr8LGIJUbvgbBemOiUJYVpHaSknLlvPEobRYTF8qU/yvgIMhQfZAeN3dPMxqWCdzwnWp" />
    <add key="RebusFmApi" value="http://RFM-001.test.learnlinq.com:11011/api" />    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.1.0" newVersion="4.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>